<% include header.ejs %>
<div class="container">
	<div class="panel panel-danger">
		<div class="panel-heading"><h2 class="panel-title">GENERAL INFORMATION</h2></div>
		<div class="panel-body">
			<div class="row well">
				<div class="col-lg-12">
					<p>The server will allways send back a json string, with the content wanted or/and a key call success (value ok or ko) and a key call msg (especially if the status is ko)</p>
				</div>
				
			</div>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading"><h2 class="panel-title">USERS</h2></div>
		<div class="panel-body">
			<div class="row well">
				<div class="col-lg-4">
					<strong>get /users?nb={nb user}&userid={user id}</strong>
				</div>
				<div class="col-lg-8">
					list the users, in get parameters who can add the number of user who want(not implemented yet) or the id of the user
				</div>
			</div>
			
			<div class="row well">
				<div class="col-lg-4">
					<strong>post /users</strong>
				</div>
				<div class="col-lg-8">
					Create a new users, in post parameters who HAVE to add the name, the google id and the email.
				</div>
			</div>
			
			<div class="row well">
				<div class="col-lg-4">
					<strong>delete /users</strong>
				</div>
				<div class="col-lg-8">
					Delete a users, in delete parameters who HAVE to add the id of the user and your id.
				</div>
			</div>
			
			<div class="row well">
				<div class="col-lg-4">
					<strong>post /users/update/:iduser/</strong>
				</div>
				<div class="col-lg-8">
					Update a users, in post parameters who HAVE to add the the infomation you want to modify (ex: ?email=new@email.com).
					The :iduser is the id of the user you want to update, don't forget to add your id has a post parameter.
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel panel-info">
		<div class="panel-heading"><h2 class="panel-title">MEDIA</h2></div>
		<div class="panel-body">
			<div class="row well">
				<div class="col-lg-4">
					<strong>post /picture</strong>
				</div>
				<div class="col-lg-8">
					Send a picture to the server, post parameters: pictureToUpload(the file). The server send back an url where you can access the picture (and send it back to the server to create a new content for example). 
				</div>
			</div>
		
			<div class="row well">
				<div class="col-lg-4">
					<strong>post /media</strong>
				</div>
				<div class="col-lg-8">
					Post a new content, post parameters: msg, lat (latitude), long (longitude), urlpicture (optional), urlvideo(optional), date(optional) 
				</div>
			</div>
			
			<div class="row well">
				<div class="col-lg-4">
					<strong>get /media/:number</strong>
				</div>
				<div class="col-lg-8">
					Get content, get parameters all optional : begin (date of beginning), end(date of end), latmin(latitude min), latmax(latitude max), longmin(longitude min), longmax(longitude max), start(number to start).
					Number mandatory, it's the number of content you want to get.
				</div>
			</div>
			
			<div class="row well">
				<div class="col-lg-4">
					<strong>get /media/one</strong>
				</div>
				<div class="col-lg-8">
					Get a unique content with get parameters mandatory id which is the id of the content
				</div>
			</div>
			
			<div class="row well">
				<div class="col-lg-4">
					<strong>post /media/rate</strong>
				</div>
				<div class="col-lg-8">
					POST a rating event, post parameters: rate(boolean true to increase, false to decrease), id(id of the centent)
				</div>
			</div>
			
			<div class="row well">
				<div class="col-lg-4">
					<strong>delete /media/:id/:iduser</strong>
				</div>
				<div class="col-lg-8">
					Delete a content, all the parameter are mandatory, the id of the content, the id of the user
				</div>
			</div>
		</div>
	</div>
		
	<div class="panel panel-warning">
		<div class="panel-heading"><h2 class="panel-title">COMMENT</h2></div>
		<div class="panel-body">
			<div class="row well">
				<div class="col-lg-4">
					<strong>post /comment</strong>
				</div>
				<div class="col-lg-8">
					Post a comment, post parameter: id of the user (iduser), and the message (msg).
				</div>
			</div>
			
			<div class="row well">
				<div class="col-lg-4">
					<strong>get /comment/:idmedia/:nb/:start</strong>
				</div>
				<div class="col-lg-8">
					Get comment, url parameter : idmedia the id of the content, nb the number of comment wanted, start the the number of comment to start.
				</div>
			</div>
			
			<div class="row well">
				<div class="col-lg-4">
					<strong>delete /comment/:idcomment/:iduser</strong>
				</div>
				<div class="col-lg-8">
					Delete a comment, url parameter : idcomment the id of the comment, iduser the id of the user who want to delete the comment.
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel panel-success">
		<div class="panel-heading"><h2 class="panel-title">FOLLOW</h2></div>
		<div class="panel-body">
			<div class="row well">
				<div class="col-lg-4">
					<strong>get /follow/all/:iduser/:nb/:start/:date?</strong>
				</div>
				<div class="col-lg-8">
					Get all the follow, url parameters : iduser the id of the user, nb the nb of follow wanted, start the nimber if start, date the date of creation of the follow (optional)
				</div>
			</div>
			
			<div class="row well">
				<div class="col-lg-4">
					<strong>get /follow/:id</strong>
				</div>
				<div class="col-lg-8">
					Get the follow, url parameters : id the id of the follow
				</div>
			</div>
			
			<div class="row well">
				<div class="col-lg-4">
					<strong>post /follow</strong>
				</div>
				<div class="col-lg-8">
					Add a new followed place, post parameters : userid (the current user id), lat(latitude), long (longitude), radius (in km)
				</div>
			</div>
			
			<div class="row well">
				<div class="col-lg-4">
					<strong>delete /follow/:iduser/:idfollow</strong>
				</div>
				<div class="col-lg-8">
					Delete a follow, delete parameters : iduser id of the user, idfollow the id of the follow
				</div>
			</div>
			
			<div class="row well">
				<div class="col-lg-4">
					<strong>get /follow/notification/:iduser/:nb/:start/:date?</strong>
				</div>
				<div class="col-lg-8">
					Get all the wanted notification for the iduser (id of the user) given, nb (number of notification), start(number where to start), date ( the beginning date, optional)
				</div>
			</div>
			
			<div class="row well">
				<div class="col-lg-4">
					<strong>post /follow/notification/read/:iduser/:idnotification</strong>
				</div>
				<div class="col-lg-8">
					Post the fact that the notification (idnotification) has been written by the user (iduser) 
				</div>
			</div>
		</div>
	</div>
</div>

<% include footer.ejs %>