		<!-- <div id="footer">
	      <div class="container">
	        <p class="muted credit">Example courtesy hdssdhfjhsdfhdsfsdfjgdsfsdfsdfj</a>.</p>
	      </div>
	    </div>-->
	    
	    <footer>
        <div class="row">
          <div class="col-lg-12">
            
            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <li><a href="http://locateit-m7011e.blogspot.se/">Blog</a></li>
              <li><a href="http://locateit-m7011e.blogspot.com/feeds/posts/default">RSS</a></li>
              <li><a href="https://github.com/letcheck/locateit">GitHub</a></li>
              <li><a href="../help/#api">API</a></li>
            </ul>
            <p>Made by <a href="#">Vincent L'honoré</a> and <a href="#">Mathieu Berland</a> </p>
            <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.</p>
            <p>Based on <a href="http://getbootstrap.com">Bootstrap</a> and <a href="http://bootswatch.com/cosmo/">the template cosmo</a></p>

          </div>
        </div>
        
      </footer>
    </div><!-- <div id="body" -->
    <script src="/jquery/jquery-2.0.3.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>