<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/bootstrap/css/bootstrap-metro.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/jquery/jquery-2.0.3.min.js"></script>
    <script src="/js/context.js"></script>
    <link rel="icon" type="image/png" href="/img/favicon.png" />
  </head>
  <body>
	<script type="text/javascript" src="/js/sidebar.js"></script>
	<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Locate It</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
			<li id="home"><a href="/">Home</a></li>
			<li id="post"><a href="post">Post something</a></li>
			<li id="myplaces"><a href="myplaces">My places</a></li>
			<button id="mypost" class="btn btn-default navbar-btn" onclick="toggleSidebar();">My post</button>
          </ul>

          <ul class="nav navbar-nav navbar-right">
			<%if (!login) { %>
				<li><a href="login">Login</a></li>
			<% } %>
			<%if (login) { %>
				<li><a href="account">My account</a></li>
				<li><a href="logout">Logout</a></li>
			<% } %>
          </ul>

        </div>
      </div>
    </div>
     <script type="text/javascript">
		var active = '#'+'<%= page %>';
		$( active ).addClass('active');
	 </script>
    <div id="body">