<% include header.ejs %>

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_HVOremtwgY_yjF4CaRiumfJ3QO3XeKk&sensor=false">
</script>
<script type="text/javascript" src="/js/map.js"></script>
<script type="text/javascript" src="/js/template_infowindow.js"></script>


<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="jumbotron">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit feugiat ante nec commodo. Integer tristique nunc nec est tempor, ac fermentum ante scelerisque. Fusce vitae eros purus. In hac habitasse platea dictumst. Morbi eu lorem gravida, facilisis sem nec, vulputate tellus. Vivamus eleifend facilisis metus, vitae adipiscing dolor lacinia vel. Vestibulum sollicitudin sit amet risus quis interdum. </p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 pagination-centered">
			<!-- <img  src="/img/google-maps.png" width="800px"/>-->
			<div id="map-canvas"/>
		</div>
	</div>
</div>
<% include footer.ejs %>		
