<% include header.ejs %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit feugiat ante nec commodo. Integer tristique nunc nec est tempor, ac fermentum ante scelerisque. Fusce vitae eros purus. In hac habitasse platea dictumst. Morbi eu lorem gravida, facilisis sem nec, vulputate tellus. Vivamus eleifend facilisis metus, vitae adipiscing dolor lacinia vel. Vestibulum sollicitudin sit amet risus quis interdum. </p>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12 pagination-centered">
			<img  src="/img/google-maps.png" width="800px"/>
		</div>
	</div>
</div>
<% include footer.ejs %>		
