<% include header.ejs %>

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_HVOremtwgY_yjF4CaRiumfJ3QO3XeKk&sensor=false">
</script>
<script type="text/javascript" src="/js/map.js"></script>
<script type="text/javascript" src="/js/template_infowindow.js"></script>
<span id="userid" style="visibility:collapse;"><%= userid %></span>
<div class="container" id="content">
	<%if (!login) { %>
	<div class="row">
		<div class="col-lg-12">
			<div class="jumbotron">
				<h1>What's Locate it ?</h1>
				
				<p>Locateit is web application where users all around the world can upload media(video, text, picture) and geotag it! But why will you do that? The answer is simple for social purpose and achievement! Other users can rate your media. Share your most incredible experiences all around the world.
			<br/>See the media put by the other and follow a location to receive update when something is post there!<br/>
			</p>
			<h2>Whant to try? </h2>
			<p>It's simple just login with your google account! </p>
			</div>
		</div>
	</div>
	<% } %>
	<div class="row">
		<div class="col-lg-12 pagination-centered">
			<!-- <img  src="/img/google-maps.png" width="800px"/>-->
			<div id="map-canvas"/>
		</div>
	</div>
</div>
<% include footer.ejs %>		
