<% include header.ejs %>
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_HVOremtwgY_yjF4CaRiumfJ3QO3XeKk&sensor=false">
</script>
<script type="text/javascript">
var map;
/*
 * handle the fact that the browser do not support geolocation
 */
function handleNoGeolocation(errorFlag) {
	var content;
    if (errorFlag) {
    	 content = 'Error: The Geolocation service failed.';
    } else {
    	content = 'Error: Your browser doesn\'t support geolocation.';
    }
    console.log(content);
    var options = {
      map: map,
      position: new google.maps.LatLng(10, 0),
      content: content
    };

    /*var infowindow = new google.maps.InfoWindow(options);*/
    map.setCenter(options.position);
}

/*
 * create the map
 */
function initialize() {
	
    var mapOptions = {
      center: new google.maps.LatLng(10, 0),
      zoom: 5,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map"),
        mapOptions);
   
    // Try HTML5 geolocation
   if(navigator.geolocation) 
    {
      navigator.geolocation.getCurrentPosition(function(position) 
    		  {
		        var pos = new google.maps.LatLng(position.coords.latitude,
		                                         position.coords.longitude);
		        
		        map.setCenter(pos);
		      }, function() {
		        handleNoGeolocation(true);
		      });
    } 
    else 
    {
      // Browser doesn't support Geolocation
      handleNoGeolocation(false);
      
    }
}
google.maps.event.addDomListener(window, 'load', initialize);

/**
 * to have a nice file input which look like boostrap
 */
$(document)
.on('change', '.btn-file :file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
    $("#showfile").val(label);
});
</script>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="jumbotron">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit feugiat ante nec commodo. Integer tristique nunc nec est tempor, ac fermentum ante scelerisque. Fusce vitae eros purus. In hac habitasse platea dictumst. Morbi eu lorem gravida, facilisis sem nec, vulputate tellus. Vivamus eleifend facilisis metus, vitae adipiscing dolor lacinia vel. Vestibulum sollicitudin sit amet risus quis interdum. </p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div id="map" style="height:400px;"></div>
		</div>
		<div class="col-lg-5 col-lg-offset-1">
			
			<div class="row">
				<div class="checkbox">
					<label>
	        			<input type="checkbox" checked="checked"></input>
	        			Locate it on my position
	                </label>
				</div>
			</div>
			<div class="row">
				<div class="input-group">
    				<input class="form-control" type="text"></input>
    				<span class="input-group-btn">
    					<button class="btn btn-default" type="button">
							Go there
						</button>
    				</span>
    				
				</div>
			</div>
			<div class="row">
				<span class="help-block">
					Search a place with a name ...
				</span>
			</div>
		</div>
	</div>
	
	<div class="row" style="margin-top:20px;">
		<div class="col-lg-12 pagination-centered">
			<div class="well">
				<div class="form-horizontal">
					<fieldset>
						<div class="form-group">
							<label class="col-lg-2 control-label" for="msg">Message</label>
							<div class="col-lg-10">
								<textarea id="msg" class="form-control" rows="6"></textarea>
								<span class="help-block">
									Write a message...
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label" for="date">Date</label>
							<div class="col-lg-2">
								<input type="date" id="date" class="form-control"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label" for="picture">Picture</label>
							<div class="col-lg-10">
								<input type="url" id="picture" class="form-control" palceholder="url"/>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group col-lg-10 col-lg-offset-2">
								<div class="row">
									<div class="col-lg-2">
									<span class="btn btn-default btn-file">
									    Browse... <input type="file" name="photodl" style="visibility:collapsed;"/>
									</span>
									</div>
									<div class="col-lg-10">
										<input class="form-control" type="text" readonly="" id="showfile"></input>
									</div>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-lg-2 control-label" for="video">Video</label>
							<div class="col-lg-10">
								<input type="url" id="video" class="form-control" palceholder="Url of a youtube video"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-4 col-lg-offset-5">
								<button class="btn btn-primary" type="submit">
								    Submit
								</button>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
	
</div>
<% include footer.ejs %>