body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

footer p {
    margin-bottom: 0px;
    clear: left;
}

footer {
	background-color: rgb(230, 230, 230);
	margin-top:20px;
	padding:20px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#body{
	margin-top:30px;
}