html{
	height:100%;
}
body {
	height:100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

footer p {
    margin-bottom: 0px;
    clear: left;
}

footer {
	background-color: rgb(230, 230, 230);
	margin-top:20px;
	padding:20px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#body{
	margin-top:30px;
	margin-bottom:30px;
}


#map-canvas{
	height:800px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

.sidebar{
	position:fixed;
	margin-top:-30px;
	left:0;
	width:240px;
	height:100%;
	color:#fff;
	background:#0b79e5;  
	overflow-y: auto;
	z-index: 1000;
}

.page-content {
	padding-left: 250px;
}